html {
    font-family: Georgia, serif;
    line-height: 1.5;
  }

  *, *::before, *::after {
    box-sizing: inherit;
  }

body {
  margin: 0;
}

nav ul {
  list-style-type: none;
  font-weight: normal;
  font-size: 1.125rem;
}

nav li {
  display: inline-block;
}

nav ul {
  text-align: center;
  margin: 0;
}

nav a {
  color: #fff;
  font-weight: normal;
  font-family: Georgia, serif;
  text-decoration: none;
  margin: .3em;
  max-width: 20em;
  padding: .2em .5em .3em;
  background-color: #b2a212;
  border-radius: 4px;
  text-align: left;
}

a:hover {
  background-color: #cc1465;
  text-decoration: none;
}

.nav-box {
  padding-bottom: .5em;
}

nav .current {
    background-color: #cc1465;
}

h1, h2 {
  font-family: "Sigmar One", cursive;
  color: #b20953;
  margin: 0;
}

h1 {
  text-align: center;
}
header, footer {
  background-color: #ffe500;
}

footer {
  text-align: center;
}
